.loginBox {
  width: 100%;
  height: 100%;
  position: relative;

  .loginHeader {
    position: absolute;
    top: 0;
    left: 0;
  }

  .loginContent {
    display: flex;
    height: 100%;
    box-sizing: border-box;

    .loginContentIcon {
      width: 290px;
      position: absolute;
      bottom: 80px;
      left: 55%;
    }

    .loginLeftContentBottom {
      width: 271px;
      font-size: 18px;
      height: 45px;
      line-height: 45px;
      text-align: center;
      background: #000;
      color: #fff;
      border-radius: 8px;
      cursor: pointer;
      position: absolute;
      bottom: 20px;
    }
  }

  .loginSteps {
    padding-bottom: 20px;
    .loginStepsBox {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .loginStepsLeft {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-height: 200px;
          // width: 258px;
        }

        .loginStepsLeftContent {
          text-align: left;
          font-size: 32px;
          line-height: 44px;
          background: #ECF2FF;
          padding: 40px;
          >div:first-child {
            color: #2B67FF;
            font-weight: 700;
          }
        }
      }
    }

    .loginStepsBottom {
      margin: 20px auto 0;
      width: 411px;
      height: 52px;
      border-radius: 8px;
      cursor: pointer;
      background: #2B67FF;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 52px;
      text-align: center;
    }
  }

  .loginLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #ECF2FF;

    .loginLeftContent {
      width: 55%;

      .loginLeftContentTitleIcon {
        display: flex;
        margin-bottom: 80px;

        img {
          width: 163px;
        }

        .loginLeftContentTitleIconContent {
          font-size: 20px;
          font-weight: 400;
          line-height: 40px;
          background: url("@/assets/reactangle.png") 100% 100% no-repeat;
          background-size: contain;
          height: 96px;
          padding: 10px 10px 10px 50px;
          box-sizing: border-box;
          align-self: end;
        }
      }

      .loginLeftContentTitle {
        font-size: 44px;
        font-weight: bold;
        line-height: 50px;
      }

      .loginLeftContentSubTitle {
        font-size: 20px;
        margin-top: 20px;
        font-weight: 400;
      }
    }
  }
  
  .loginRight{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginRightContent {
      width: 60%;
    }

    .loginRightTitle {
      font-size: 44px;
      margin-bottom: 50px;
      font-weight: bold;
    }
    
    .loginSubmit {
      background: #2B67FF;
      font-size: 18px;
      color: #fff;
      height: 52px;
      width: 100%;
    }
  }

  .loginCommHeight {
    height: 52px;
    border-radius: 8px;
    // margin-bottom: 10px;
  }

  .loginFormRegister {
    color: #2B67FF;
    text-align: right;

    span {
      cursor: pointer;
    }
  }
}